<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.models.dao.mappers.StudentMapper">
    <select id="getAllStudents" resultMap="rm">
        SELECT * FROM student
    </select>

    <select id="getStudentById"
            resultMap="rm"
            parameterType="java.lang.Integer">
        SELECT * FROM student WHERE id = #{id}
    </select>

    <resultMap id="rm" type="main.models.entities.StudentEntity"/>
</mapper>